<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portfolio/custom.css' %}">
    <title>Gennaro Maida</title>
</head>

<body id="bg-color-change">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light me-auto">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    <h3>
                        <img src="{% static 'portfolio/betweenMD_icon_only_rgb.png' %}" alt="" width="30" height="24">
                        Gennaro Maida
                    </h3>
                </a>

                <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button type="button" class="btn btn-light">
                                <a class="nav-link active" aria-current="page"
                                    href="{% url 'home' %}"><strong>Home</strong></a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-light">
                                <a class="nav-link active" href="{% url 'blog:all_blogs' %}"><strong>Blog</strong></a>
                            </button>
                        </li>
                        <li class="nav-item">


                            <a class="nav-link active" href="https://www.linkedin.com/in/gennaro-maida/"
                                target="_blank">
                                <img src="{% static 'portfolio/linkedin-in-logo-png-1.png' %}" alt="" width="40"
                                    height="40">
                            </a>

                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary">
                                <a class="nav-link active"
                                    href="{% static 'portfolio/Gennaro_Maida_Executive_Resume_2021.pdf' %}"
                                    target="_blank">Resume</a>
                            </button>
                        </li>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->
    </div>
</body>

</html>