{% extends 'portfolio/base.html' %}

{% block content %}

<div class="container text-center">

    {% load static %}
    <br>
    <br>
    <div class="row">
        <div class="col">
    <img src="{% static 'portfolio/1595789954825.jpeg' %}" height=300 width=240>
</div>
    <div class="col">
    <img src="{% static 'portfolio/IFAH-Badge-(Mr.png' %}" height=300 width=240>
</div>
</div>
    <br>
    <h1><strong>Gennaro is the<br> Chief Medical Technology Officer <br> at BetweenMD, Inc.</strong></h1>
    <br>
    <h2 style="float:left">Portfolio</h2>
    <br>
    <br>
    <div class="container border-top border-info">
        <br>
        <div class="row">
            {% for project in projects %}
            <div class="col">

                <img src="{{ project.image.url }}" height=160 width=240>
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                {% if project.url %}
                <button type="button" class="btn btn-info">
                <a href="{{ project.url }}">Project Link</a>
            </button>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}